<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ai_keys.iot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.ai_keys.iot.AiKeysApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_home"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_home"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/Base.Theme.AppCompat">

        <activity android:name="com.ai_keys.iot.ui.main.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ai_keys.iot.ui.main.EspMainActivity"
            android:label="@string/app_name"/>
        <activity
            android:name="com.ai_keys.iot.ui.login.LoginActivity"/>
        <activity
            android:name="com.ai_keys.iot.ui.register.RegisterActivity"/>
        <activity
            android:name="com.ai_keys.iot.ui.login.ResetUserPasswordActivity"/>
        <activity
            android:name="com.ai_keys.iot.ui.device.AddDeviceStep1"/>
        <activity
            android:name="com.ai_keys.iot.ui.device.AddDeviceStep2"/>
        <activity
            android:name="com.ai_keys.iot.ui.device.AddDeviceStep3"/>
        <activity
            android:name="com.ai_keys.iot.ui.device.AddDeviceStep4"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ai_keys.iot.ui.device.DeviceSettingActivity"/>
        <activity
            android:name="com.ai_keys.iot.ui.usercenter.FaqActivity"/>
        <activity
            android:name="com.ai_keys.iot.ui.usercenter.FeedbackActivity"/>
        <activity
            android:name="com.ai_keys.iot.ui.usercenter.ModifyNickActivity"/>
        <activity
            android:name="com.ai_keys.iot.ui.usercenter.ResetPwdActivity"/>
        <activity
            android:name="com.ai_keys.iot.ui.usercenter.AboutAiKeyActivity"/>
        <activity
            android:name="com.ai_keys.iot.ui.usercenter.UserSettingActivity"/>
    </application>

</manifest>